
{% extends 'rentals/base.html' %}

{% block title %}Available Snowboards{% endblock %}

{% block content %}
    <h2>Available Snowboards</h2>
    {% for snowboard in snowboards %}
        <div>
            <h3>{{ snowboard.name }}</h3>
            <p>{{ snowboard.description }}</p>
            <p>Price: ${{ snowboard.rental_price }}</p>
            <p>Available: {{ snowboard.quantity_available }}</p>
            {% if snowboard.image %}
                <img src="{{ snowboard.image.url }}" alt="{{ snowboard.name }}" width="200">
            {% endif %}
        </div>
        <hr>
    {% endfor %}
{% endblock %}

